/**
	Little helpers
	TODO: Maybe migrate to the main theme
 */
.screen-reader-text, .screen-reader-text span, .screen-reader-shortcut {
	position: absolute!important;
	clip: rect(0,0,0,0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.multisite-taxonomy-archive.blog .format-status .entry-title,
.multisite-all-tax-archive.blog .format-status .entry-title {
	display: block;
}

.topic-block {
	display: block;
	clear: both;
	overflow: hidden;
	margin-bottom: 14px;
}

.topic-block ul {
	margin-left: 0;
}

.alphabetical_index ul {
	list-style: none;
	margin-left: 0;
}
.alphabetical_index li {
	float: left;
	display: inline-block;
	padding: 11px;
	font-size: 1.125rem;
}
.alphabetical_index li:first-child {
	padding-left: 0;
}
.alphabetical_index li a {
	color: #ed624b;
}

.topic-list li {
	float: left;
	display: inline-block;
	margin: 0;
	list-style-type: none;
}

.topic-list li a {
	font-size: .875rem;
	color: #ed624b;
	padding: 4px;
	display: block;
}
.topic-list li:first-child a {
	padding-left: 0;
}
.topic-list li.current a {
	font-weight: bold;
}

.multisite-term-archive .entry-content .entry-header {
	padding: 0;
}

.multisite-term-archive .entry-content .entry-header {
	margin: 0;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

.multisite-term-archive .entry-content article {
	border-top: 1px solid #D2CFC8;
}

.multisite-term-archive .entry-content .entry-header .page-image-thumbnail {
	display: block;
}

.multisite-term-archive .entry-content .entry-header img.wp-post-image {
	margin-left: 0;
	margin-right: 16px;
	margin-right: 1rem;
	margin-bottom: 16px;
	margin-bottom: 1rem;
	float: left;
	max-width: 150px !important;
	max-height: 200px !important;
	height: auto !important;
	width: auto !important;
	display: block;
}

.multisite-term-archive .entry-header .entry-title {
	display: block !important;
}

.multisite-term-archive .entry-content .entry-header .entry-title a {
	color: #008CC0;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.2;
}

.multisite-term-archive .entry-content .entry-header h2.entry-title {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.2px;
	font-weight: bold;
	padding: 0;
	margin-top: 14px;
	margin-bottom: 4px;
}

.multisite-term-archive .entry-content .entry-summary {
	font-size: 13px;
	font-size: 0.813rem;
	margin: 0 0 1.714285714rem;
	line-height: 1.6;
	padding-left: 0;
}

.card.header, .alphabetical_index, .topic-container {
	padding: 0.5rem 0.75rem;
}

.card.header h1 {
	font-size: 1.5rem;
	font-weight: normal;
}

.card.header h2, h2.topic-letter {
	font-size: 1.1rem;
	font-weight: normal;
}
